<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653384838290-mlj2qiqh7oevuajb3vp2nhdev6dcui54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653384838290-mlj2qiqh7oevuajb3vp2nhdev6dcui54</string>
	<key>API_KEY</key>
	<string>AIzaSyA4RVUsPJt2AGnyFE6iXgwQ3dBqwpYnH1E</string>
	<key>GCM_SENDER_ID</key>
	<string>653384838290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kristynakohoutova.tag-finder</string>
	<key>PROJECT_ID</key>
	<string>tagfinder-fc414</string>
	<key>STORAGE_BUCKET</key>
	<string>tagfinder-fc414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653384838290:ios:1c2774c5d420ec62410a4b</string>
</dict>
</plist>